body {
     color: rgb(92, 197, 197);
     background: purple;
    margin 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
header{
    border-bottom: solid 2px rgb(20, 20, 139);
padding: 20px;
font-size:32px;
color:hsl(195, 53%, 79%);
}
section {
    background-color: hsl(195, 94%, 37%);
    padding-bottom: 80px
    display: flex;
    justify-content: center;

    
}

chamada-texto{
    margin-right: 5%;

}

h1{font-size: 40px;
}